[submodule "luxonis_ws/src/traffic_sign/depthai-ros"]
	path = luxonis_ws/src/traffic_sign/depthai-ros
	path = luxonis_ws/src/camera_preprocessing/depthai-ros
	url = https://github.com/luxonis/depthai-ros.git
